.wholecontainer{
 display: flex;
height: 600px;
justify-content: center;
margin-top: 60px;
display: grid;
grid-template-columns: auto auto;
/* border: 2px solid black; */
width:auto;

}
.container1{
    height: 600px;
    width: 400px;
    background-color: aqua;
    /* border: 2px solid gray; */
    margin-right: 20px;
}
.container2{
    height: 500px;
    width: 350px;
    align-items: center;
}
.box1{
    height: 400px;
    border: 1px solid rgb(202, 198, 198);
    
}
.image{
    padding-left: 65px;
    padding-top: 20px;
    margin-left: 50xp;

}

.placeholder{
  margin: 10px 0;
  position: relative;
  font-size: 14px;
  width: 100%;
  text-overflow: ellipsis;
  margin-left: 50px;
}
::placeholder{
color: #999;
}
input[type=text]{
    height: 30px;
    color: black;
    background-color: #fafafa;
    /* border: 1px solid #efefef; */
}
input[type=password]{
    height: 30px;
    color: #999;
    background-color:#fafafa ;

}
.login{
  text-align: center;
  padding: 0.5rem;
  border: 1px solid transparent;
  background-color: #3897f0;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  margin-left: 50px;
  width: 72%;
}
.separator {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #999;
    margin-top: 6px;
}
.separator .line {
    height: 1px;
    width: 40%;
    background-color: #dbdbdb;
    margin-left: 50px;
    margin-right: 50px;
}
.others{

    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.image{
    margin-left: 20px;
}
.span{
    color: #385185;
    font-size: 18px;
    margin-left: 10px;
    padding-bottom: 5px;
}
.forgot-password{
    font-size: 16px;
    color: #003569;
    text-decoration: none;
    margin-left: 130px;
  }
  .box2{
      
      margin-top: 20px;
      padding-left: 70px;
      padding-top: 10px;
    height: 60px;
    border: 1px solid rgb(202, 198, 198);
    font-size: 14px;
  }
  .signup {
    text-decoration: none;
    color: #3897f0;
    font-weight: 600;
  }
  .box3{
      margin-left: 35px;
  }
  .para{
      justify-content: center;
      text-align: center;
      margin-left: 10px;
  }
  .container3{
     height: 150px;
     width: auto;
     /* border: 2px solid black; */
     margin: 5px 430px;
  }
  footer{
      display: flex;
      flex-direction: column;

  }
  .footer-links{
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      justify-content: center;
    font-size: 0.75rem;
    column-gap: 12px;
    row-gap: 15px;
  }
  .footer-links li{
      /* flex-basis: 13%; */
      text-align: center;
  }
  a{
      text-decoration: none;
      color: #999;
  }
  .last{
     
      width: 50px;
      margin-left: 200px;
      border: 2px solid white;
  }
  .parent{
    color: #999;
      display: flex;
      align-items: center;
      column-gap: 40px;
      
  }

  @media screen  and (max-width:900px){
      .wholecontainer{
        border: none;
      }
  }
 